@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "@nuxt/ui";

@theme {
  --font-sans: sans-serif;
  --font-brand: 'Space Grotesk', sans-serif;

  --ui-container: var(--breakpoint-2xl);

  --color-primary: oklch(0.63 0.11 218.99);
  --color-primary-50: oklch(0.63 0.11 218.99);
  --color-primary-100: oklch(0.63 0.11 218.99);
  --color-primary-200: oklch(0.63 0.11 218.99);
  --color-primary-300: oklch(0.63 0.11 218.99);
  --color-primary-400: oklch(0.63 0.11 218.99);
  --color-primary-500: oklch(0.63 0.11 218.99);
  --color-primary-600: oklch(0.63 0.11 218.99);
  --color-primary-700: oklch(0.63 0.11 218.99);
  --color-primary-800: oklch(0.63 0.11 218.99);
}

.dark {
  --ui-bg: #14171a;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease-out;
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}
